* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}

img {
  width: 200px;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  background-color: #020202;
  color: #fffff0;
  width: 100%;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
}

/* Home Page */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 7rem;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.734); */
  /* margin-bottom: 3rem; */
  /* position: fixed; */
  /* top: 0; */
}

header h1 {
  font-size: 3.5rem;
  font-weight: 200;
  letter-spacing: 4px;
  color: #fffff0;
}

nav {
  margin-right: 3rem;
}

nav a {
  font-size: 2rem;
  margin-left: 5rem;
  font-weight: 200;
  transition: all 0.2s ease-in-out;
}

nav a:first-child {
  margin-left: 0;
}

.contact {
  font-size: 2rem;
  font-weight: 200;
  border: 1px solid #fffff0;;
  padding: 1.5rem 3rem;
  border-radius: 35px;
}

.contact:hover {
  background-color:  #ffffff;
  color: black;
}

nav a:hover {
  /* color: hsla(0, 0%, 95%, 0.819); */
  background-color: #ffffff;
  color: black;
  border-radius: 35px;
  padding: 1.5rem;
}

.background {
  background: url(images/hero-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.hero {
  width: 100%;
  height: 850px;
  /* background: url(images/hero-2.jpg); */
  /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

/* .hero h2 {
  font-size: 3.5rem;
  margin-top: 10rem;
  font-weight: 200;
  letter-spacing: 1.38rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
} */

.hero > p {
  font-size: 2.8rem;
  font-weight: 200;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  color: #ffffff;

}

.hero h1 {
  font-size: 12rem;
  font-weight: 700;
  margin-top: 20rem;
  margin-bottom: 5rem;
  letter-spacing: 2px;
  color: #ffffff;

}

.promte {
  width: 950px;
  height: 300px;
  border-radius: 20px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* background: rgba(7, 0, 0, 0.732); */
  padding: 2rem;
}

.promte p {
  font-size: 2.8rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 11rem;
}

.promte a {
  border: 2px solid #ffffff;
  padding: 2rem 3rem;
  font-size: 2.2rem;
  font-weight: 500;
  border-radius: 35px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.promte a:hover {
  background-color: #ffffff;
  color: black;
}

.sessions {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.sessions h2 {
  font-size: 5rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sessions > p {
  font-size: 2.5rem;
  font-weight: 200;
  margin: 2rem 0;
  letter-spacing: 2px;
}

.images {
  display: flex;
  /* width: 1200px; */
  /* justify-content: space-between; */
  gap: 5rem;
  margin-top: 5rem;
  justify-content: center;
  /* border: 2px solid white; */
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img p {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}

.img span {
  text-align: center;
  font-weight: 200;
  font-size: 1.7rem;
  letter-spacing: 3px;
}
.photo {
  /* border: 1px solid white; */
  width: 320px;
  height: 650px;
  margin-bottom: 1.5rem;
  filter: blur(4px);
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}

/* To remove the blur effect on hover remove the filter blur and the hover from the photo class */

.photo:hover {
  filter: blur(0px);
  transform: scale(1.1);
  margin-bottom: 5rem;
}

.photo-1 {
  background: url(images/Manhattan\ Bridge.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo-2 {
  background: url(images/Chrysler\ Tower.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo-3 {
  background: url(images/Maat\ Handrail.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo-4 {
  background: url(images/monochrome\ flatiron.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.impressions {
  width: 100%;
  /* height: 1000px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 1rem 3rem;
}

.impressions h2 {
  font-size: 5rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  margin-top: 8rem;
}

.rev {
  width: 45%;
  border: 1px solid  #fffff0;;
  padding: 3rem 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  line-height: 1.5;
}

.rev p {
  font-size: 1.7rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}

.rev span {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.more {
  width: 100%;
  /* height: 600px; */
  margin-top: 10rem;
}

.more h2 {
  font-size: 5rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 5rem;
}

.more p {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 200;
  width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}
.more a {
  text-decoration: underline;
}

.more a:hover {
  color: hsla(0, 0%, 95%, 0.819);
}

footer {
  width: 100%;
  height: 150px;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;
}

footer hr {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
}

footer .rights {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

footer .rights p {
  font-size: 1.5rem;
  font-weight: 200;
}

/* Contact Page */

.container {
  width: 100%;
  height: 700px;
  /* border: 2px solid white; */
  display: flex;
}

.touch {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid white; */
}

.box {
  /* border: 2px solid white; */
  margin-top: 20rem;
}

.box h2 {
  font-size: 8rem;
  font-weight: 400;
  text-transform: capitalize;
  word-spacing: 15px;
}

.box p {
  font-size: 2.5rem;
  font-weight: 200;
  margin: 2rem 3rem;
}

.form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-surname,
.email-phone {
  display: flex;
  gap: 5rem;
}

.name,
.surname,
.email,
.phone {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.name input,
.surname input,
.email input,
.phone input {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 1px solid #fffff0;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 1rem;
  background-color: transparent;
  color: #fffff0;
}

input:focus {
  border: 1px solid #fffff0;
}

.name label,
.surname label,
.email label,
.phone label,
.message label {
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 1rem;
  color: white;
  text-transform: capitalize;
}

.message {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  background-color: transparent;
  color: #fffff0;
}

.message textarea {
  width: 100%;
  height: 200px;
  border: none;
  outline: none;
  font-family: Helvetica;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 2rem;
  background-color: transparent;
  color: #fffff0;
  resize: none;
  border-bottom: 1px solid #fffff0;
}
.message textarea:focus {
  border: 1px solid white;
}
.btn {
  width: 100%;
  /* border: 2px solid white; */
  display: flex;
  justify-content: flex-end;
}

.btn button {
  border: none;
  border: 1px solid #fffff0;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 4rem;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn button:hover {
  background-color: white;
  color: black;
}

.no-margin {
  margin: 0;
  margin-top: 5rem;
}

/* About Page */


main{
  width: 100%;
  margin-top: 10rem;
  padding: 4rem 12rem;
}


/* main h1{
  font-size: 6rem;
  text-transform: capitalize;
  font-weight: 300;
  text-align: center;
  margin-bottom: 7rem;
} */

.content-about{
  display: flex;
  justify-content: space-between;
  /* padding: 2rem 7rem; */
  /* border: 2px solid white; */

}

 .content-about .info h2{
  font-size: 5rem;
  font-weight: 200;
  text-transform: capitalize;
  margin-bottom: 4rem;
  
  
}

.content-about .info p{
  
  font-size: 2.5rem;
  width: 600px;
  font-weight: 200;
  line-height: 1.5;

}


.content-about .img {
  width: 400px;
  height: 600px;
  border: 1px solid rgba(255, 255, 255, 0.431);
  background: url(images/canda.jpg);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-offer{
  display: flex;
  justify-content: space-between;
  margin-top: 20rem;
}

.content-offer .img{
  width: 400px;
  height: 700px;
  border: 1px solid rgba(255, 255, 255, 0.431);
  background: url(images/arc.jpg);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.offer-info .info{
  margin-bottom: 10rem;
}



.offer-info .info h2{
  font-size: 6rem;
  font-weight: 200;
  text-transform: capitalize;
  margin-bottom: 4rem;
  
  
}

.offer-info .info p{
  
  font-size: 2.5rem;
  width: 600px;
  font-weight: 200;
  line-height: 1.5;

}

.offer-info .info-2 h2{
  font-size: 5rem;
  font-weight: 200;
  text-transform: capitalize;
  margin-bottom: 4rem;
  
  
}

.offer-info .info-2 p{
  
  font-size: 2.5rem;
  width: 600px;
  font-weight: 200;
  line-height: 1.5;

}


.exercise{
  display: flex;
  justify-content: space-between;
  margin-top: 20rem;
}

.exercise .img{

  width: 400px;
  height: 800px;
  background: url(images/guillame.jpg);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.ex-info{
  margin-bottom: 10rem;
}

.ex-info h2{
  font-size: 6rem;
  font-weight: 200;
  text-transform: capitalize;
  margin-bottom: 4rem;
  
  
}

.ex-info p{
  
  font-size: 2.5rem;
  width: 600px;
  font-weight: 200;
  line-height: 1.5;

}

.ex-info-2  h2{
  font-size: 5rem;
  font-weight: 200;
  text-transform: capitalize;
  margin-bottom: 4rem;
  
  
}

.ex-info-2  p{
  
  font-size: 2.5rem;
  width: 600px;
  font-weight: 200;
  line-height: 1.5;

}



.approach{
  display: flex;
  justify-content: space-between;
  margin-top: 20rem;
}

.approach .img{
  width: 400px;
  height: 800px;
  background: url(images/shadowsjpg.jpg);
  border: 1px solid rgba(255, 255, 255, 0.431);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.app-info{
  margin-bottom: 10rem;
}
.app-info h2{
  font-size: 6rem;
  font-weight: 200;
  text-transform: capitalize;
  margin-bottom: 4rem;
  
  
}

.app-info p{
  
  font-size: 2.5rem;
  width: 600px;
  font-weight: 200;
  line-height: 1.5;

}

.app-info-2  h2{
  font-size: 5rem;
  font-weight: 200;
  text-transform: capitalize;
  margin-bottom: 4rem;
  
  
}

.app-info-2  p{
  
  font-size: 2.5rem;
  width: 600px;
  font-weight: 200;
  line-height: 1.5;

}

.reg{
  margin-top: 20rem;
  font-size: 2.3rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.5;
}

.reg a:hover{
  text-decoration: underline;
}
